{% extends 'base.html' %}

{% block includes %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="/static/styles/gallery.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/styles/jquery.fancybox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/styles/jquery.fancybox-thumbs.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/styles/jquery.fancybox-mobile.css" media="screen" />

<script type="text/javascript" src="/static/scripts/jquery.backstretch.js"></script>

<script type="text/javascript" src="/static/scripts/jquery.fancybox.js"></script>
<script type="text/javascript" src="/static/scripts/jquery.fancybox-thumbs.js"></script>

<script type="text/javascript" src="/static/scripts/gallery.js"></script>

{% endblock %}

