<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
	<head>
		<title>{{ title | default('Ward Photography') }} - by Chris Ward</title>
		<meta name="description" content="{{ description | default("Photos and projects by Chris Ward, a freelance photography from Brighton") }}" />
		<meta name="keywords" content="{{ keywords | default("photography,brighton,brighton photography,photos of brighton,brighton photographers,travel photography,water,made for water,men at sea,water photographs,ko lanta,koh lanta,gasoline") }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />

		{% block includes %}

		<link href="//fonts.googleapis.com/css?family=Molengo:regular|IM+Fell+English:regular,italic|Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet" type="text/css" >
		<link rel="stylesheet" type="text/css" href="/static/styles/style.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/static/styles/bs-responsive.css" media="screen" />
		
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/static/scripts/script.js"></script>		
		
		<script type="text/javascript" src="/static/scripts/jquery.event.move.js"></script>
		<script type="text/javascript" src="/static/scripts/jquery.event.swipe.js"></script>

		{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1554700-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>		
	</head>
	<body cover="{{ cover }}">
                <div id="header">
                        <h2><a href="/">Ward Photography</a></h2>
			<div class="menu-btn hidden-desktop">&#9776;</div>
			<nav class="visible-desktop">
				<ul>
					{% for nav_item in nav %}
					<li><a href="{{ nav_item.url }}"{{ nav_item.active ? ' class="active"' : '' }}>{{ nav_item.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
                </div>

                <div id="content">

			{% block content %}
			{% endblock %}

			<div id="footer">All images &copy; 2006-{{ date()|date("Y") }} Chris Ward</div>
		</div>

	</body>
</html>
