{% set title = 'Ward Photography' %}
{% extends 'base.html' %}


{% block includes %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="/static/styles/jquery.wardcarousel.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/styles/home.css" media="screen" />
<script type="text/javascript" src="/static/scripts/jquery.wardcarousel.js"></script>
<script type="text/javascript" src="/static/scripts/home.js"></script>

{% endblock %}


{% block content %}

	<div class="carousel">
		<div class="slide slide-america" href="/gallery/american-west">
			<div class="text">
				<h2>American West</h2>
				<p>A collection of photos from a road trip around the western states of the USA. Includes the Grand Canyon, Yellowstone National Park &amp; Monument Valley.</p>
			</div>
		</div>
			
		<div class="slide slide-water" href="/gallery/made-for-water">
			<div class="text">
				<h2>Made for Water</h2>
				<p>A collection of man-made items connected by their use with water. I've focused on their textures and colours.</p>
			</div>
		</div>
			
		<div class="slide slide-men" href="/gallery/men-at-sea">
			<div class="text">
				<h2>Men at Sea</h2>
				<p>Portraits of men who live or work out at sea. I want to explore the effect the weather has on their faces.</p>
			</div>
		</div>

		<div class="slide slide-gasoline" href="/gallery/ko-lanta-gasoline">
			<div class="text">
				<h2>Ko Lanta's Gasoline</h2>
				<p>On the small island of Ko Lanta in Thailand, there are gasoline stalls found by the roadside to cater for the many scooters. Each stall and sign is hand-made and unique. The gasoline is usually stored in old drinks bottles.</p>
			</div>
		</div>



	</div>

{% endblock %}
