{% set title = 'Ward Photographer' %}
{% extends 'base.html' %}


{% block includes %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="/static/styles/jquery.wardcarousel.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/styles/home.css" media="screen" />
<script type="text/javascript" src="/static/scripts/jquery.wardcarousel.js"></script>
<script type="text/javascript" src="/static/scripts/home.js"></script>

{% endblock %}


{% block content %}

	<div class="carousel">
		<div class="slide slide-america">
			<div class="text">
				<h2>American West</h2>
				<p>A collection of photos from a road trip around the western states of the USA. Includes the Grand Canyon, Yellowstone National Park &amp; Monument Valley.</p>
			</div>
		</div>
			
		<div class="slide slide-water">
			<div class="text">
				<h2>Made for Water</h2>
				<p>A collection of man-made items connected by their use with water. I've focused on their textures and colours.</p>
			</div>
		</div>
	</div>

{% endblock %}
